<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#">Link</a>
			by <a href="#"> by Dave</a>

		</small>
		<nav>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">link 2</a></li>
				<li><a href="#">link 3</a></li>
			</ul>
		</nav>
		
	</footer>
	
</div>